<div id="accessform">
   
   
  <form method = "post" id="shippingcalc" name = "shippingcalc">
  
  &nbsp;
   
      <p class="alert alert-info" align = "left" >*Enter your shipping details</p> 
  
 <label style="font-size:20px; color:rgba(34, 139, 34,0.5);">Package Details:</label>
 
 <div id="packageDetails">
 
  <label for="Package Type" style = "padding:10px;">Type:</label> 
  
  		<div class = "typeSelect" style="padding:10px;">
		 <select class="form-control" id="packageType" ng-model="packageType.selected">
   		 	<option value = "Letter">Letter</option>
    		<option value="Large Envelope">Large Envelope</option>
    		<option value = "Package">Package</option>
    		<option value = "Large Package">Large Package</option>
  		</select>
     	</div>
     
     <label for="dimension" style="padding:10px;">Dimensions:</label>
     	
    <div class = "container" id="dimensions">
		<label>Length:</label>
		<input type = "text" id="length" ng-model="length" style="width:50px;">
		<label style="width:80px;">in.</label>
		
		<label>Width:</label>
		<input type = "text" id="width" ng-model="width" style="width:50px;">
		<label style="width:80px;">in.</label>
		
		<label>Height:</label>
		<input type = "text" id="height" ng-model = "height" style="width:50px;">
		<label style="width:80px;">in.</label>
     </div>
     	
     <div style = "padding:10px;">
     	
     	 <label for="weight">Weight:</label>
     	
   
		
		<input type = "text" id="weight" ng-model="weight" ng-required = true style="width:50px;" required>
		
		<label>lbs</label>
		<br>
		
     </div>
     	
     	<br> 
   
 </div>
 
 <br>
 
  <label style="font-size:20px; color:rgba(34,139,34,0.5)">Your Details:</label>
 
 <div id="userDetails" class = "container" style="border:1px solid #cecece;">
 
  
  <label for="zip code">Your ZIP Code:</label> 
  
  		<div>
  		     
      	<input type = "text" id="zipCode" ng-required=true ng-model="src_zipCode" style="width:100px;" required>
      	
      	</div>
 	
  </div>
     	
     	<br> 
     	
     	  <label style="font-size:20px;color:rgba(34,139,34,0.5);">Destination Details:</label>
 
 <div id="destDetails" class = "container" style="border:1px solid #cecece;">
 
     	<div class = "cityselect">
     		<label style = "text-align:center">Select Major City</label>
			<select class = "form-control" ng-model="cityList.selected" ng-options="city for city in cities">
			
			</select>
     	
     			
      	        	
        	<label style = "text-align:center">Zip Code</label>
       		<br>
        	
			<input type = "text" id="dest_zip_code" ng-disabled = "(cityList.selected != '')" ng-model="dest_zip_code" style="width:100px;" required>
      	  
        </div>
        
       	
      	</div>
      	
 
 <br>
   
   <button type="submit" ng-model="submit" class="btn btn-primary" ng-click = "validateForm(this)">Calculate Shipping</button>
   <button ng-model="reset" class="btn btn-primary" ng-click = "Reset()">Reset</button>
   
   
</form>

</div>
